<!DOCTYPE HTML>

<h1>Team</h1>

<div class="pirate">
  <h3>Name: <%= @team.name %></h3>
  <h4>Team Motto: <%= @team.motto %></h4>
</div><br>

<h2>Members</h2>
<% @members.each do |member| %>
  <div class="ship">
    <p>Hero Name: <%= member.name %></p>
    <p>Hero Power: <%= member.power %></p>
    <p>Hero Biography: <%= member.bio %></p>
  </div>
<% end %>